*{
  padding: 0;
  margin: 0;
}

header{
  background: black;
  color: white;
}

header .header--menu{
  display: flex;
  justify-content: center;
}

header .header--menu--logo{
  position: absolute;
  left: 35px;
}

header .header--menu--logo ul li{
  padding: 10px;
  cursor: default;
}

header ul{
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

header .header--menu ul li{
  padding: 10px;
  transition: all 1s;
  cursor: pointer;
}

header .header--menu ul li:hover{
  background: #99999987;
  transition: all 1s;
}

body{
  background: #466368;
  background: linear-gradient(to right, #5760d2, #3e00b2, #5760d2);}
}

body .Main-Content .Welcome{
}

body .Main-Content .Welcome--content{
  background-color: #00000073;
  text-align: center;
  color: white;
}

body .Sector{
  text-align: center;
  color: white;
  background: #00000073;
  margin-top: 55px;
}

body .Main-Usluga .Usluga-Card{
  text-align: center;
  color: white;
  background: #2e2f71;
  margin-top: 55px;
  border-radius: 50px;
}

body .Main-Usluga .Usluga-Card .IMG-Usluga-Block i:not(:first-child){
  display: none;
}

body .Main-Usluga .Usluga-Card .IMG-Usluga-Block{
  font-size: 400px;
}

body .Main-Usluga .Usluga-Card .TXT-Usluga-Block{
  background: #1805b55c;
  border-radius: 50px;
  box-shadow: -10px 0px 10px 1px #010e78;
}

body .TXT-Usluga--header{
  margin-top: 55px;
}

body .TXT-Usluga--ul ul{
  margin-top: 15px;
  padding: 0;
}

body .TXT-Usluga--ul ul li{
  display: inline-flex;
  list-style: none;
  font-size: 25px;
  background: #5e5f95;
  padding: 5px;
  border-radius: 50px;
  margin: 0 0 17px 0;
}

body .TXT-Usluga--prevu{
  font-size: 20px;
}

body .TXT-Usluga--btn{
  color: #fad7d7;
  border-radius: 50px;
  background: #0000006b;
  cursor: grab;
}

body .TXT-Usluga--btn h1{
  transition: all 0.5s;
}

body .TXT-Usluga--btn:hover h1{
  color: #04ff05;
  transform: scale(1.2);
  transition: all 1s;
}

@media screen and (max-width: 991px) {

  body .Main-Usluga .Usluga-Card .IMG-Usluga-Block i:not(:first-child){
    display: contents;
  }

  body .Main-Usluga .Usluga-Card .IMG-Usluga-Block{
    font-size: 200px;
  }

}
