*{
  padding: 0;
  margin: 0;
}

header{
  background: black;
  color: white;
}

header .header--menu{
  display: flex;
  justify-content: center;
}

header .header--menu--logo{
  position: absolute;
  left: 35px;
}

header .header--menu--logo ul li{
  padding: 10px;
  cursor: default;
}

header ul{
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

header .header--menu ul li{
  padding: 10px;
  transition: all 1s;
  cursor: pointer;
}

header .header--menu ul li:hover{
  background: #99999987;
  transition: all 1s;
}

body{
  background: #466368;
  background: linear-gradient(to right, #5760d2, #3e00b2, #5760d2);}
}

body .Main-Content .Welcome{
  background-color:#ffffff;
  background-image:url(https://2vlad5.github.io/asset/img/space.jpg);
  padding-top:250px;
  padding-bottom:80px;
  background-size: cover;
  background-position: 0% 0%;
}

body .Main-Content .Welcome--content{
  background-color: #00000073;
  text-align: center;
  color: white;
}
