*{
  padding: 0;
  margin: 0;
}

header{
  background: white;
}

header .header--menu{
  display: flex;
  justify-content: center;
}

header .header--menu--logo{
  position: absolute;
  left: 35px;
}

header .header--menu--logo ul li{
  padding: 10px;
  cursor: default;
}

header ul{
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

header .header--menu ul li{
  padding: 10px;
  transition: all 1s;
  cursor: pointer;
}

header .header--menu ul li:hover{
  background: #99999987;
  transition: all 1s;
}

body{
  background: antiquewhite !important;
  height: 2000px;
}

body .--Img-Block--Img{
  background-color:#ffffff;
  background-image:url(https://2vlad5.github.io/Page/asset/img/main-fon.jpg);
  padding-top:250px;
  padding-bottom:80px;
  background-size: cover;
  background-position: 35% 0%;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 30px 0px red;
}

body .--Img-Block--TXT{
  color: white;
  font-size: 35px;
  text-align: center;
  background: linear-gradient(0deg, #0006ff61, #000000);
  border-radius: 50px;
}

body .--Img-Block--TXT p{
  margin: 0;
}

.Sector{
  margin-top: 55px;
  text-align: center;
  background: #ff00006b;
  padding: 10px;
}

.Sector p{
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

body .Main--Cont{
  margin-top: 55px;
}

body .Saintist{
  background: #00000047;
  border-radius: 55px;
}

body .Saintist--Img{
  padding-top:500px;
  background-size: cover;
  background-position: 35% 0%;
  border-radius: 55px 0 0 55px;
}

body .Saintist--Img.San1{
  background-image:url(https://2vlad5.github.io/Page/asset/img/saintist/San1.jpg);
}

body .Saintist--Img.San2{
  background-image:url(https://2vlad5.github.io/Page/asset/img/saintist/San2.jpg);
}

body .Saintist--Img.San3{
  background-image:url(https://2vlad5.github.io/Page/asset/img/saintist/San3.jpg);
}

#Saintist2, #Saintist3{
  display: none;
}

body .Saintist .Saintist--Block p.Saintist--Name{
  font-size: 55px;
  font-weight: bold;
}

body .Saintist .Saintist--Block p.Saintist--Inf{
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}

body .Saintist .Saintist--Block p.Saintist--Btn{
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  background: gray;
  border-radius: 50px;
}

body .Saintist-Arrows{
  text-align: center;
  justify-content: center;
}

body .Saintist-Arrows i{
  background: aliceblue;
  padding: 25px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 1s;
}

body .Saintist-Arrows i:hover{
  background: #f0f8ff61;
  border-radius: 50px;
  color: red;
  box-shadow: 0px 0px 20px 0px red;
  transition: all 1s;
}

.Saintist--Moree{
  font-size: 20px;
  margin-top: 25px;
}

.--Moree-Saintist1, .--Moree-Saintist2, .--Moree-Saintist3{
  display: none;
}

body .Main--Tel{
  margin-top: 55px;
}

body .Tel{
  background: #00000047;
  border-radius: 55px;
}

body .Tel--Img{
  padding-top:500px;
  background-size: cover;
  background-position: 35% 0%;
  border-radius: 55px 0 0 55px;
}

body .Tel--Img.Tel1{
  background-image:url(https://2vlad5.github.io/Page/asset/img/saintist/teles1.jpg);
}

body .Tel--Img.Tel2{
  background-image:url(https://2vlad5.github.io/Page/asset/img/saintist/teles2.jpg);
}

body .Tel--Img.Tel3{
  background-image:url(https://2vlad5.github.io/Page/asset/img/saintist/teles3.jpg);
}

#Tel2, #Tel3{
  display: none;
}

body .Tel .Tel--Block p.Tel--Name{
  font-size: 55px;
  font-weight: bold;
}

body .Tel .Tel--Block p.Tel--Inf{
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}

body .Tel .Tel--Block p.Tel--Btn{
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  background: gray;
  border-radius: 50px;
}

body .Tel-Arrows{
  text-align: center;
  justify-content: center;
}

body .Tel-Arrows i{
  background: aliceblue;
  padding: 25px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 1s;
}

body .Tel-Arrows i:hover{
  background: #f0f8ff61;
  border-radius: 50px;
  color: red;
  box-shadow: 0px 0px 20px 0px red;
  transition: all 1s;
}
