*{
  padding: 0;
  margin: 0;
}

header{
  background: white;
}

header .header--menu{
  display: flex;
  justify-content: center;
}

header .header--menu--logo{
  position: absolute;
  left: 35px;
}

header .header--menu--logo ul li{
  padding: 10px;
  cursor: default;
}

header ul{
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

header .header--menu ul li{
  padding: 10px;
  transition: all 1s;
  cursor: pointer;
}

header .header--menu ul li:hover{
  background: #99999987;
  transition: all 1s;
}

body{
  height: 2000px;
}

body .--Img-Block--Img{
  background-color:#ffffff;
  background-image:url(https://2vlad5.github.io/Page/asset/img/main-fon.jpg);
  padding-top:250px;
  padding-bottom:80px;
  background-size: cover;
  background-position: 35% 0%;
}

body .--Img-Block--TXT{
  color: white;
  font-size: 35px;
  text-align: center;
  background: linear-gradient(0deg, #ff000061, #fff70061);
  border-radius: 50px;
}

body .--Img-Block--TXT p{
  margin: 0;
}

body .Saintist--Img.San1{
  background-image:url(https://2vlad5.github.io/Page/asset/img/saintist/San1.jpg);
  padding-top:80px;
  padding-bottom:80px;
  background-size: cover;
  background-position: 35% 0%;
}
